
body {
    background-color:rgb(244, 245, 238);
}


#div1, nav {
    width: 400px;
    background-color: rgb(244, 245, 238);
    justify-content: space-between;
    box-sizing: border-box;
    margin: auto;
    font-size: 20px;
  }

#div2 {
    background-color: rgb(202, 198, 176);
    width: 700px;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: auto;
    font-size: large;
  }
